
.master-container {
  font-family: 'Open Sans', sans-serif;
  padding-left: 50px;
  padding-right:50px;
}

h2 {
  font-size: 2rem;
}

.article-title {
  text-align: center;
}

.image-container {
  text-align: center;
}

img {
  height:200px;
}
